@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a :focus,
a :active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 20px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button ::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a :visited {
  text-decoration: none;
}

a :hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  max-width: 100%;
}

section {
  margin-bottom: 30px;
  border: 2px solid red;
  padding: 30px;
  margin: 0 auto;
  max-width: 1000px;
}
section.transition button {
  padding: 1% 5%;
  font-size: 30px;
  border-radius: 50px;
  color: aliceblue;
  background: -webkit-linear-gradient(top, #d2ff52 0%, #91e842 100%);
  -webkit-box-shadow: 0px 3px 15px 5px #6dc020;
          box-shadow: 0px 3px 15px 5px #6dc020;
  -webkit-transition: all 1s;
  transition: all 1s;
}
section.transition button:hover {
  -webkit-box-shadow: 0px 0 15px 5px #550cc9;
          box-shadow: 0px 0 15px 5px #550cc9;
  background: -webkit-linear-gradient(top, #ff3019 0%, #ff3019 33%, #cf0404 100%);
}
section.animation .circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background: rgb(187, 43, 38);
  position: relative;
  -webkit-animation-name: red_circle;
          animation-name: red_circle;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
@-webkit-keyframes red_circle {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    left: 0px;
  }
  50% {
    border-radius: 0px;
  }
  100% {
    left: 400px;
  }
}
@keyframes red_circle {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    left: 0px;
  }
  50% {
    border-radius: 0px;
  }
  100% {
    left: 400px;
  }
}
section.animation .text {
  margin-top: 50px;
  overflow: hidden;
}
section.animation .text p {
  position: relative;
  -webkit-animation-name: walking_text;
          animation-name: walking_text;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes walking_text {
  from {
    left: 0px;
  }
  to {
    left: 950px;
  }
}
@keyframes walking_text {
  from {
    left: 0px;
  }
  to {
    left: 950px;
  }
}
section.graphic {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(50px, 1fr);
  grid-template-columns: minmax(50px, 1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-rows: 0.5fr 1.7fr 0.7fr 3fr;
  grid-template-rows: 0.5fr 1.7fr 0.7fr 3fr;
}
section.graphic > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
section.graphic > *:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
section.graphic > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
section.graphic > *:nth-child(4) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}
section.graphic img {
  max-width: 100%;
  max-height: 100%;
}
section.graphic :nth-child(1),
section.graphic :nth-child(2),
section.graphic :nth-child(3),
section.graphic :nth-child(4) {
  border: dashed 2px gray;
  max-width: 100%;
  max-height: 100%;
}
section.section7 {
  padding: 0 4%;
}
section.section7 .swiper {
  padding: 30px 20px 50px 20px;
}
section.section7 .swiper .swiper-wrapper .swiper-slide {
  padding: 5%;
}
section.section7 .swiper .swiper-wrapper .swiper-slide:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
section.section7 .swiper .swiper-wrapper .swiper-slide:nth-child(1) .left {
  margin-right: 10%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 150px 3% 150px 3% 150px;
  grid-template-columns: 150px 150px 150px;
      grid-template-areas: "thirth thirth first" "thirth thirth second";
  -ms-grid-rows: 150px 3% 150px;
  grid-template-rows: 150px 150px;
  gap: 3%;
}
section.section7 .swiper .swiper-wrapper .swiper-slide:nth-child(1) .left div {
  max-width: 300px;
}
section.section7 .swiper .swiper-wrapper .swiper-slide:nth-child(1) .left img {
  height: 100%;
}
section.section7 .swiper .swiper-wrapper .swiper-slide:nth-child(1) .left .first {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: first;
}
section.section7 .swiper .swiper-wrapper .swiper-slide:nth-child(1) .left .first img {
  border-radius: 5px;
}
section.section7 .swiper .swiper-wrapper .swiper-slide:nth-child(1) .left .second {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: second;
}
section.section7 .swiper .swiper-wrapper .swiper-slide:nth-child(1) .left .second img {
  border-radius: 5px;
}
section.section7 .swiper .swiper-wrapper .swiper-slide:nth-child(1) .left .thirth {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: thirth;
}
section.section7 .swiper .swiper-wrapper .swiper-slide:nth-child(1) .left .thirth img {
  border-radius: 5px;
}
section.section7 .swiper .swiper-wrapper .swiper-slide:nth-child(1) .right {
  margin-top: 5%;
}
section.section7 .swiper .swiper-wrapper .swiper-slide .swiper-slide_wrapper {
  border: black solid 3px;
  margin: 0 20px;
  max-height: 300px;
  text-align: center;
}
section.section7 .swiper .swiper-wrapper .swiper-slide .swiper-slide_wrapper img {
  height: 300px;
}
section.section7 .swiper .swiper-button-prev {
  color: #A8B4E5;
}
section.section7 .swiper .swiper-button-prev::after {
  content: "🡐";
}
section.section7 .swiper .swiper-button-next {
  color: #A8B4E5;
}
section.section7 .swiper .swiper-button-next::after {
  content: "🡐";
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}